name: suwayomi
services:
  suwayomi:
    environment:
      - EXTENSION_REPOS=["https://raw.githubusercontent.com/keiyoushi/extensions/repo/index.min.json"]
      - FLARESOLVERR_ENABLED=true
      - FLARESOLVERR_URL=http://flaresolverr:8191
      - TZ=${TZ}
    hostname: suwayomi
    image: ghcr.io/suwayomi/suwayomi-server:preview
    ports:
      - 4567:4567
    restart: always
    volumes:
      - ${MANGA_FOLDER}:/home/suwayomi/data
      - ${APPDATA}/data:/home/suwayomi/.local/share/Tachidesk

  flaresolverr:
    environment:
      - TZ=${TZ}
    hostname: flaresolverr
    image: ghcr.io/flaresolverr/flaresolverr:latest
    ports:
      - 8191:8191
    restart: unless-stopped

  manga-image-translator:
    # build:
    #   context: ${APPDATA}/manga-image-translator
    image: ghcr.io/phuchoang2603/manga-image-translator:v0.1.0
    command: batch-script.py
    volumes:
      - ${APPDATA}/manga-image-translator/:/app/
      - ${APPDATA}/facehuggingcache:/root/.cache/huggingface/
      - ${MANGA_FOLDER}:/app/data
    ipc: host
    # For GPU
    deploy: # This section is for compatibility with Swarm
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
