version: "3.8"

services:
  xinference: &xinference
    image: xprobe/xinference:latest-cu128
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
              driver: nvidia
              count: all
    volumes:
      - ${APPDATA}/data/:/root/.xinference
      - modelscope-cache:/root/.cache/modelscope
    environment:
      - PUID=0
      - PGID=0
      - XINFERENCE_MODEL_SRC=modelscope
    networks:
      - proxy

  xinference-supervisor:
    <<: *xinference
    command: xinference-supervisor --host xinference-supervisor --port 9997 --supervisor-port 9999
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.xinference.rule=Host(`xinference.home.phuchoang.sbs`)"
      - "traefik.http.routers.xinference.entrypoints=websecure"
      - "traefik.http.routers.xinference.tls=true"
      - "traefik.http.routers.xinference.tls.certresolver=cloudflare"
      - "traefik.http.services.xinference.loadbalancer.server.port=9997"

  tts-worker:
    <<: *xinference
    command: xinference-worker -e http://xinference-supervisor:9997 --host tts-worker --worker-port 30001
    restart: unless-stopped

  stt-worker:
    <<: *xinference
    command: xinference-worker -e http://xinference-supervisor:9997 --host stt-worker --worker-port 30002
    restart: unless-stopped

  rerank-worker:
    <<: *xinference
    command: xinference-worker -e http://xinference-supervisor:9997 --host rerank-worker --worker-port 30003
    restart: unless-stopped

  chat-worker:
    <<: *xinference
    command: xinference-worker -e http://xinference-supervisor:9997 --host chat-worker --worker-port 30004
    restart: unless-stopped

  embed-worker:
    <<: *xinference
    command: xinference-worker -e http://xinference-supervisor:9997 --host embed-worker --worker-port 30005
    restart: unless-stopped

volumes:
  modelscope-cache:

networks:
  proxy:
    external: true
